th {
  background-color: yellow;
  color: red;
  border:1px solid black;
  padding: 10px 10px;
}
td {
  background-color: green;
  color: white;
  border: 1px solid black;
  text-align: center;
  margin: 0;
}
