body {
  background-color: #e6ffcc;
}
table {
  margin: auto;
}
h1 {
  font-family: fantasy;
  font-size: 80px;
  color: green;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: cursive;
  font-size: 45px;
  color: green;
}
img {
  height: 150px;
  width: auto;
  margin: auto;
  background-color: #e6ffcc;
  display: block;
  margin: auto;
}
th {
  background-color: yellow;
  color: red;
  border:1px solid black;
  padding: 10px 10px;
  border-collapse: collapse;
}
td {
  background-color: green;
  color: white;
  border: 1px solid black;
  text-align: center;
  margin: 0;
  border-collapse: collapse;
}

p {
  font-family: cursive;
  font-weight: bold;
  font-size: 25px;
  color: #336600;
}
